<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>My money</title>
</head>
<body style="background-color: black ">

<!--Copia desde aquí-->
<table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">
	

	<tr>
		<td style="padding: 0">
			<img style="padding: 0; display: block" src="http://drive.google.com/uc?export=view&id=15sS0nSTcRur_jflCbBIKqIVW94VJpqTz" width="100%">
		</td>
	</tr>
	
	<tr>
		<td style="background-color: #ecf0f1">
			<div style="color: #34495e; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
				<h2 style="color: #e67e22; margin: 0 0 7px">¡Active su cuenta!</h2>
				<p style="margin: 2px; font-size: 15px">
					Para iniciar a usar la app necesita verificar su email.<br><br>
					Por favor, clic en el botón para activar su cuenta.<br>
					
				<!-- <div style="width: 100%;margin:20px 0; display: inline-block;text-align: center">
					
					<img style="padding: 0; width: 200px; margin: 5px" src="../img/logo.png">
				</div> -->
				<div style="width: 100%; text-align: center;margin:40px 0;">
					<a style="text-decoration: none; border-radius: 100px; padding: 11px 23px; color: white; background-color: #3e4d5a" href="{{context}}">Activar cuenta </a>	
				</div>
				<p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">My money 2022 </p>
			</div>
		</td>
	</tr>
</table>
<!--hasta aquí-->

</body>
</html>